* {
    box-sizing: border-box;
}

body {
    background-color:   white;
}
#container {
    background-color: aqua;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
header {
    background-color: black;
    color: white;
    text-align: center;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    clear: both;
}

nav {
    background-color: gray;
    width: 30%;
    float: left;
    padding: 20px;
}

article {
    background-color: white;
    width: 70%;
    float: left;
    padding: 30px;
    text-align: justify;
    border: black 1px solid;
}
