.text-indent{
    text-indent:2rem;
}
.text-align{
    text-align:right;
}
.text-decoration{
    text-decoration:underline;
}
.letter-spacing{
    letter-spacing:10px;
}
.text-transform{
    text-transform:uppercase;
}